[submodule "libs/libping"]
	path = libs/libping
	url = https://github.com/bgylde/libping.git
[submodule "libs/libs/traceroute"]
	path = libs/libs/traceroute
	url = https://github.com/bgylde/traceroute.git
