[submodule "libs/libping"]
	path = libs/libping
	url = https://github.com/bgylde/libping.git
[submodule "libs/traceroute"]
	path = libs/traceroute
	url = https://github.com/bgylde/traceroute.git
[submodule "examples/ipc-bench"]
	path = examples/ipc-bench
	url = https://github.com/rigtorp/ipc-bench.git
